@page "/test-routing"

<PageTitle>Test Routing - CleanCut</PageTitle>

<h1>Routing Test</h1>

<p>If you can see this page, routing is working!</p>

<div class="mt-4">
    <h3>Token Debugging Pages:</h3>
    <ul>
  <li><a href="/token-inspector">Token Inspector</a></li>
        <li><a href="/api-call-monitor">API Call Monitor</a></li>
      <li><a href="/token-status">Token Status</a></li>
    </ul>
</div>

<div class="mt-4">
    <h3>Debug Info:</h3>
    <p>Current time: @DateTime.Now</p>
    <p>Environment: @Environment.MachineName</p>
</div>