@using CleanCut.BlazorSPA.Pages.Models
@* CountryRow.razor *@
<tr>
    <td>@Country.Id</td>
    <td>@Country.CountryName</td>
    <td>
  <td>
        <button class="btn btn-sm btn-outline-primary me-2" @onclick="OnEditClicked">Edit</button>
        <button class="btn btn-sm btn-outline-danger" @onclick="ShowDeleteConfirm">Delete</button>
    </td>
    </td>
</tr>


<ConfirmModal Visible="ShowConfirm" Title="Delete Country" Message="@($"Delete country {Country.CountryName}?")" OnClose="OnConfirmClose">
</ConfirmModal>

<!-- logic moved to code-behind -->
