@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Hello, world!</h1>
            <p class="lead">Welcome to your CleanCut API Blazor app!</p>

            <div class="alert alert-info">
                <h4>Simple Test App</h4>
                <p>This is a simplified Blazor Server app to test API connectivity.</p>
                <a href="/products" class="btn btn-primary">
                    <i class="fas fa-box me-2"></i>View Products
                </a>
            </div>

            <div class="mt-4">
                <h3>Application Features</h3>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fas fa-server me-2"></i>
                        Blazor Server with .NET 9
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-box me-2"></i>
                        Display products from CleanCut API v1
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-cog me-2"></i>
                        Testing basic connectivity first
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
